.preview {
  max-width: 180px;
}

table,
th,
td {
  border: 1px solid lightgray;
}

tr:hover td {
  background-color: rgb(248, 248, 248);

}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 1px;
  color: black;
  font-weight: bold;
  font-size: small;
}


/* Container holding the image and the text */
.containerImage {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

#fieldsetSearch fieldset{
  border: 1px solid #005596;
  border-radius: 4px;
  margin: 1rem 0 0;
  padding: 1rem;
}


.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.hide {
  display: none;
}

.inner-addon {
  position: relative;
}

.inner-addon .far,
.inner-addon .fas {
  position: absolute;
  padding: 10px 30px;
  z-index: 100;
  cursor: pointer;
}

.left-addon .far,
.left-addon .fas {
  left: 0px;
}

.right-addon .far,
.right-addon .fas {
  right: 0px;
}

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

/* .select without-icon {
  appearance: none;
  background-image: url('');
} */

