<div class="col-md-12" *ngIf="currentUser">
    <div class="card card-container">

        <!-- <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" /> -->
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>



            <div class="form-group">
                <label for="password">Old Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                    minlength="6" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
                <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
                  <div *ngIf="password.errors['required']">Password is required</div>
                  <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" name="newPassword" [(ngModel)]="form.newPassword" required
                    minlength="6" #newPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && newPassword.errors }" />
                <div class="invalid-feedback" *ngIf="newPassword.errors && f.submitted">
                    <div *ngIf="newPassword.errors['required']">New Password is required</div>
                    <div *ngIf="newPassword.errors['minlength']">
                        New Password must be at least 6 characters
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">New Password Comfirmed</label>
                <input type="password" class="form-control" name="newPasswordComfirmed"
                    [(ngModel)]="form.newPasswordComfirmed" required minlength="6" #newPasswordComfirmed="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && newPasswordComfirmed.errors }" />
                <div class="invalid-feedback" *ngIf="newPasswordComfirmed.errors && f.submitted">
                    <div *ngIf="newPasswordComfirmed.errors['required']">New Password Comfirmed is required</div>
                    <div *ngIf="newPasswordComfirmed.errors['minlength']">
                        New Password Comfirmed must be at least 6 characters
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" *ngIf="currentUser">Update</button>
            </div>

            <!-- <div class="alert alert-warning" *ngIf="f.submitted && isUpdateFailed">
                {{ errorMessage }}
            </div> -->
        </form>

        <div class="alert alert-success" *ngIf="errorMessage != ''">
            {{errorMessage}}
        </div>
    </div>
</div>