.card-container.card {
    max-width: 700px !important;
    padding: 40px 40px;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.hide {
    display: none;
}

.inner-addon {
    position: relative;
}

.inner-addon .far,
.inner-addon .fas {
    position: absolute;
    padding: 10px 30px;
    z-index: 100;
    cursor: pointer;
}

.left-addon .far,
.left-addon .fas {
    left: 0px;
}

.right-addon .far,
.right-addon .fas {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

/* .select without-icon {
    appearance: none;
    background-image: url('');
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}