/* @media only screen and (min-width : 481px) {
  .flex-row {
      display: flex;
      flex-wrap: wrap;
  }
  .flex-row > [class*='col-'] {
      display: flex;
      flex-direction: column;
  }
  .flex-row.row:after, 
  .flex-row.row:before {
      display: flex;
  }
} */

/* .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
} */
 
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card2 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid gray;
  border-radius: 0.25rem;
}

.card.card-tabs .card-tools {
  margin: .3rem .5rem;
}

.card-header>.card-tools {
  float: right;
  margin-right: -0.625rem;
}

.card-header>.card-tools .input-group,
.card-header>.card-tools .nav,
.card-header>.card-tools .pagination {
  margin-bottom: -0.3rem;
  margin-top: -0.3rem;
}

.card-header>.card-tools [data-toggle="tooltip"] {
  position: relative;
}

.card-title {
  float: left;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

.card-text {
  clear: both;
}

textarea {
  display: block;
  resize: vertical;
  overflow: auto;
  /* overflow: hidden; */
}

.card-tools {
  margin: .3rem .5rem;
}

.badge-sm {
  min-width: 1.8em;
  padding: .05em !important;
  margin-left: .1em;
  margin-right: .1em;
  margin-top: .1em;
  margin-bottom: .1em;

  /* color: white !important; */
  cursor: pointer;
}

.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem
}

.callout-info {
  border-left-color: #5bc0de
}

.callout-success {
  border-left-color: #28a745
}

.callout-primary {
  border-left-color: #007bff
}


.btn-group:hover .dropdown-menu.noclose {
  display: block;
}

.dropdown-menu.noclose {
  margin-top: 0px;
}

.square {
  height: 20px;
  width: 20px;
}

li {
  display: inline;
  float: left;
  width: 25%;
  cursor: pointer;
}

ul {
  display: block;
}

li.selected {
  background-color: #EEEEEE;
  text-shadow: 0px 1px 1px #4d4d4d;
}

#a1::hover::after {
  position: absolute;
  display: block;
  content: ' ';
  border: 2px solid red;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
}

.preview {
  max-width: 150px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

table,
th,
td {
  border: 1px solid gray;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 1px;
  color: black;
  font-weight: bold;
  font-size: small;
}


/* Container holding the image and the text */
.containerImage {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}


#fieldsetSearch fieldset {
  border: 1px solid #005596;
  border-radius: 4px;
  margin: 1rem 0 0;
  padding: 1rem;
}