table,
th,
td {
  border: 1px solid lightgrey;
}

tr:hover td {
  background-color: rgb(248, 248, 248);

}


.images-lists2 .v-imgs {
  width: 50px;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.hide {
  display: none;
}


/* Container holding the image and the text */
.containerImage {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.hide {
  display: none;
}

.inner-addon {
  position: relative;
}

.inner-addon .far,
.inner-addon .fas {
  position: absolute;
  padding: 10px 30px;
  z-index: 100;
  cursor: pointer;
}

.left-addon .far,
.left-addon .fas {
  left: 0px;
}

.right-addon .far,
.right-addon .fas {
  right: 0px;
}

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

/* .select without-icon {
  appearance: none;
  background-image: url('');
} */


.example-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* width: 505px;
  max-width: 100%; */
  /* gap: 5px; */
  /* padding: 15px;
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px; */
  /* overflow: hidden; */
}

.example-box {
  padding: 20px 10px;
  border: solid 1px #ccc;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  box-sizing: border-box;
  cursor: move;
  background: white;
  text-align: center;
  font-size: 14px;
  min-width: 115px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: red;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

 