<div class="container-fluid overflow-hidden">
  <div class="row vh-100 overflow-auto">
    <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
      <div
        class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
        <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5">C<span class="d-none d-sm-inline">ontrol Panel</span></span>
        </a>
        <ul
          class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
          id="menu">
          <li class="nav-item">
            <a (click)="navigateTo('')" class="nav-link px-sm-0 px-2" title="Settings">
              <i class="fs-5 bi-gear"></i><span class="ms-1 d-none d-sm-inline">Settings</span>
            </a>
          </li>
          <li>
            <a (click)="navigateTo('dashboard')" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
              <i class="fs-5 bi-speedometer2"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
          </li>
          <li>
            <a (click)="navigateTo('listpart')" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2" title="Auto Part Management">
              <i class="fs-5 bi-card-list"></i><span class="ms-1 d-none d-sm-inline">Auto Parts</span> </a>
          </li>
          <li>
            <a (click)="navigateTo('saveditem')" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2" title="User's Saved Auto Part Items">
              <i class="fs-5 bi-card-list"></i><span class="ms-1 d-none d-sm-inline">Saved Item</span> </a>
          </li>
          <!-- <li>
              <a (click)="navigateToHome('company', true)" class="nav-link px-sm-0 px-2">
                <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Company</span></a>
            </li>
            <li class="dropdown">
              <a href="/admin2" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Settings</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                <li><a class="dropdown-item" href="/admin2">Client Config</a></li>
                <li><a class="dropdown-item" href="/admin2">System Settings</a></li>
                <li><a class="dropdown-item" href="/admin2">Site Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/admin2">Sign out</a></li>
              </ul>
            </li>
            <li>
              <a (click)="navigateTo('listpart')" class="nav-link px-sm-0 px-2">
                <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">Auto Parts</span></a>
            </li>
            <li>
              <a (click)="navigateTo('saveditem')" class="nav-link px-sm-0 px-2">
                <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">Saved Items</span></a>
            </li>
            <li>
              <a (click)="navigateTo('company')" class="nav-link px-sm-0 px-2">
                <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Company Profile</span> </a>
            </li> -->
        </ul>
      </div>
    </div>

    <div class="col d-flex flex-column h-sm-100">
      <main class="row overflow-auto">
        <div class="col pt-4">
          <div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>