<div>
  <div class="row nogot">
    <div class="my-fluid-col main-content col mt-4 pt-2">
      <div class="row">
        <div class="col-12">
          <h2 class="pt-4 heading-color fw-700 text-uppercase fs-18 text-center">Reset Password</h2>
        </div>
        <div class="col-lg-3 col-md-1 col-sm-12"></div>
        <div class="col-lg-6 col-md-10 col-sm-12">
          <div class="bg-white border-radius-8 shadow px-3 py-5 mt-5">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate *ngIf="showForm==true">
              <div class="row">
                <div class="col-12">
                  <div class="">
                    <label for="password" class="form-label fs-14 fw-400 mb-3">New Password</label>
                    <div class="input-group">
                        <input trimText class="form-control h-48 px-3 rounded-4-start" [type]="showPasswordNew ? 'text' : 'password'"
                            name="newPassword" [(ngModel)]="form.newPassword" required minlength="6" #newPassword="ngModel"
                            maxlength="30" [ngClass]="{ 'is-invalid': f.submitted && newPassword.errors }"
                            placeholder="Enter Your New Password" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary rounded-4-end" type="button"> <i alt="show"
                                    class="far fa-eye eye-show" (click)="showPasswordNew = !showPasswordNew"
                                    [class.hide]="showPasswordNew"></i>
                                <i alt="hide" class="far fa-eye-slash eye-hide" (click)="showPasswordNew = !showPasswordNew"
                                    [class.hide]="!showPasswordNew"></i></button>
                        </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="newPassword.errors && f.submitted">
                      <span *ngIf="newPassword.errors['required']">New Password is required</span>
                      <span *ngIf="newPassword.errors['minlength']">New Password must be at least 6 characters</span>
                      <span *ngIf="newPassword.errors['maxlength']">New Password must be at most 30 characters</span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="mt-4 pt-1">
                    <label for="password" class="form-label fs-14 fw-400 mb-3">Confirm New Password</label>
                    <div class="input-group">
                        <input trimText class="form-control h-48 px-3 rounded-4-start" [type]="showPaswordNewConfirmed ? 'text' : 'password'"
                            name="passwordNew" [(ngModel)]="form.newPasswordComfirmed" required minlength="6"
                            #newPasswordComfirmed="ngModel" maxlength="30"
                            [ngClass]="{ 'is-invalid': f.submitted && newPasswordComfirmed.errors }"
                            placeholder="Please Re-Type Your New Password" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary rounded-4-end" type="button"> <i alt="show"
                                    class="far fa-eye eye-show" (click)="showPaswordNewConfirmed = !showPaswordNewConfirmed"
                                    [class.hide]="showPaswordNewConfirmed"></i>
                                <i alt="hide" class="far fa-eye-slash eye-hide"
                                    (click)="showPaswordNewConfirmed = !showPaswordNewConfirmed"
                                    [class.hide]="!showPaswordNewConfirmed"></i></button>
                        </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="newPasswordComfirmed.errors && f.submitted">
                      <span *ngIf="newPasswordComfirmed.errors['required']">Confirm New Password is required</span>
                      <span *ngIf="newPasswordComfirmed.errors['minlength']">Confirm New Password must be at least 6 characters</span>
                      <span *ngIf="newPasswordComfirmed.errors['maxlength']">Confirm New Password must be at most 30 characters</span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="mt-4 pt-1">
                    <button class="btn btn-primary-abs fs-13 px-3 py-2 mt-15-mob">Submit</button>
                  </div>
                </div>
              </div>
            </form>
            <div class="alert alert-success mx-3 mt-4 mb-0" *ngIf="errorMessage != ''">{{errorMessage}}</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-1 col-sm-12"></div>
      </div>
    </div>
  </div>
</div>
        