 /* walker-modal.component.css */
 .modal-backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 99998 !important;
 }

 .modal-content {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 20px;
   z-index: 99999 !important;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   min-width: 400px;
   max-width: 600px;
 }

 .modal-header {
   border-bottom: 1px solid #ddd;
   padding-bottom: 10px;
   margin-bottom: 15px;
   text-align: center;
 }

 .modal-header h2 {
   font-size: 1.5em;
   margin: 5px;
 }

 /* Footer Styling (Aligning buttons to the right) */
 .modal-footer {
   display: flex;
   justify-content: flex-end;
   gap: 10px;
 }

 /* Button Styling (Using Bootstrap classes for primary and secondary buttons) */
 .modal-footer .btn {
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 4px;
 }


 .modal-content div {
   margin-bottom: 5px;
 }

 .modal-content label {
   font-weight: bold;
 }



 .modal-content button:hover {
   background-color: #0056b3;
 }

 .modal-content button[type="button"] {
   margin-left: 10px;
   background-color: #ccc;
 }

 .modal-content button[type="button"]:hover {
   background-color: #888;
 }

 .modal-content modal-header {
   border-bottom: 1px solid #ddd;
   padding-bottom: 10px;
   margin-bottom: 24px;
   text-align: center;
 }

 .modal-content modal-header h2 {
   font-size: 1.5em;
   margin: 10;
 }

 /* Footer Styling (Aligning buttons to the right) */
 .modal-content modal-footer {
   display: flex;
   justify-content: flex-end;
   gap: 10px;
 }

 /* Body Styling (Message content) */
 /* Footer Styling (Aligning buttons to the right) */
 .modal-content modal-body {
   text-align: center;
   margin-bottom: 1px;
 }